body{
    margin: 0;
    padding: 0;
    background: rgb(8, 8, 152);
}

nav{
    background: rgb(4, 4, 79);
    height: 50px;
    padding-bottom: 65px;
}

nav h1{
    color: white;
    font-size: 35px;
    margin-top: 2px;
}

nav ul li{
    float: right;
    padding: 10px 3px 0 3px;
    list-style: none;
    text-align: right;
}

nav a{
    color: white;
    text-decoration: none;
}

main{
    color: white;
    margin: 0 auto 0 auto;
    width: 70%;
    font-size: large;
}

header{
 float: left;
}

#h1{
    font-size: 74px;
    transition: transform 3s;
    animation: animation-title 4s;
    animation-iteration-count: 1;
}

header h3{
    text-align: center;
    width: 250px;
    background: green;
    border: 2px solid black;
    border-radius: 20px;
    animation: animation-subtitle 2s;
    animation-iteration-count: infinite;
}

header a{
    text-decoration: none;
}

@keyframes animation-title{
    20%{
        opacity: 0;
    }

    75% {
        transform: scale(1);
    }
}

@keyframes animation-subtitle{
    50%{
        color: rgb(13, 255, 13);
    }
}

#login{
    margin-top: 30px;
    padding: 20px;
    background: rgb(231, 230, 230);
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: larger;
}

form label{
    display: inline-block;
    width: 100px;
}

form input{
    width: 195px;
    height: 20px;
}

#sectionMain{
    margin: 0 auto 0 auto;
    width: 70%;
}

article {
    background: rgb(231, 230, 230);
    padding: 20px;
    text-align: right;
}
article li{
    list-style: none;
    float: right;
    padding: 0px 25px;
    border-right: 2px solid black;
}

article a{
    
    text-decoration: none;
}

#loggedIn{
    display: none;
}

.visible{
    opacity: 1;
}

.hidden{
    opacity: 0;
}
