.img1 {
    color: whitesmoke;
    height: 800px;
    background-image: url(watertruck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(14, 14, 66);
}

a {
   text-decoration-line: none;
}

nav ul{
    justify-content: left;
    list-style: none;
}

nav h1{
    font-size: 40px;
    margin-right: 73%;
}

nav a{
    text-decoration: none;
    color: yellow;
}

nav li {
    display: inline-block;
    padding: 5px;
}

nav {
    display: flex;
    padding: 10px;
    background: rgba(255, 255, 255, 0.514);
    text-align: right;
    
}

.welcome {
    text-align: center;
    margin:100px 50px;
    font-size: 35px;
}

.paragraph {
    text-shadow: 5px 5px 3px 10px;
    padding: 10px 50px 20px 30px;
    font-size: 150px;
}

.text {
    color: white;
    font-size: 70px;
}

.first {
    font-size: 25px;
    color: white;
    margin: 200px 50px;
    margin-bottom: 150px;
}

.water1 {
    font-size: 20px;
    margin-bottom: 200px;
}

.features {
    margin-top: 50px;
    font-size: 20px;
}

.testimonials{
    font-size: 20px;
}

.benefits{
    font-size: 30px;
    margin-top: 100px;
}

.benefits2{
    margin-bottom: 20px;
}

.provision{
    font-size: 20px;
    margin-bottom: 50px;
}

.clean{
    font-size: 20px;
    margin-bottom: 150px;
}

.footer{
    padding: 100px;
    font-size: 50px;
    background-color: black;
}

@keyframes fadeMe{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.welcome{
    animation-name: fadeMe;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes getBigger{
    0%{transform: scale(2);}
    50%{transform: scale(1);}
    100%{transform: scale(.5);}
}

.benefits{
    animation-name: getBigger;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes changeColors{
    0%{background-color: greenyellow;}
    100%{background-color: green;}
}

#box1{
    animation-name: changeColors;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: forward;
}



  .Box {
    text-align: center;
    background-color:white;
    color:black;
    border-radius: 5px;
    padding: 100px 90px;
    font-size: 200%;
    margin: 10px;
  }

  .box2 { 
     text-align: center; 
    color: black;
    border-radius: 10px;
    padding: 10px 50px 0px 10px;  
    height: 100px;
    width: 50%;
    background:greenyellow;
    margin-bottom: 200px;
    margin-top: 50px;
}

  .a {
    grid-column: col / span  1;
    grid-row: row ;
    margin-bottom: 200px;
  }

  .nav-wrapper{
      background-color: rgba(255, 255, 255, 0.445);
  }

  .flex{
      display: flex;
      justify-content: center;
  }

  .body2{
      background-color: cornflowerblue;
  }

  .flex2{
      display: flex;
      justify-content: right;
  }

  @media (max-width: 550px){
      .paragraph{
      font-size: 100px
      }

      nav h1{
        margin-right: 125px;
    }

    nav li {
        background-color: rgba(255, 255, 255, 0.514);
        padding: 5px;
        border: 1px solid gray;
        flex-direction: column;
    }

    nav ul{
        list-style: none;
        flex-direction: column;
    }

    nav {
        padding: 5px;
        background: rgb(109, 109, 139);
        text-align: right;
    }


    .img1 {
        color: whitesmoke;
        height: 720px;
        background-image: url(watertruck2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 10px;
        width: 100%;
    }

    .first {
        font-size: 25px;
        color: white;
        margin: 100px 50px;
        margin-bottom: 150px;
    }

    
    .welcome {
        text-align: center;
        margin:50px 0px;
        padding: 10px 20px;
        font-size: 20px;
    }

    .text {
        color: white;
        font-size: 40px;
    }

    .box2 a{
        text-decoration: none;
    }

      .img1{
          background-image: url(watertruck2.jpg);
      }
  }

  @media (orientation: landscape){
      body{
          background-color: black;
      }
  }


  

  
